@import 'variables';

:root {
  --bs-body-bg: #ffffff;
  --bs-body-color: #212121;
  --bs-surface-bg: #f5f5f5;
  --bs-border-color: #e0e0e0;
}

.dark-theme {
  --bs-body-bg: #{$dark-bg};
  --bs-body-color: #{$dark-text};
  --bs-surface-bg: #{$dark-surface};
  --bs-border-color: #{$dark-border};
}
