// Color Palette

// Buttons / Text
$pink-1: #FF2DD1;
$yellow-1: #F6DC43;
$green-1: #4DFFBE;
$purple-1: #7C00FE;
$green-2: #16C47F;
$green-3: #00FF9C;

// Darker shades for text
$yellow-1-dark: darken($yellow-1, 40%);
$green-1-dark: darken($green-1, 40%);
$green-3-dark: darken($green-3, 40%);

// Backgrounds
$dark-blue-bg: #000957;
$card-bg: #211951;

// Highlights
$highlight-purple: #7C00FE;
