<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Matatu App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        @if (authService.currentUser()) {
          <li class="nav-item">
            <a class="nav-link">Hello, {{ authService.currentUser()?.displayName }}</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-link nav-link" (click)="logout()">Logout</button>
          </li>
        } @else {
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/sign-up">Sign Up</a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>

<main class="container mt-4">
  <router-outlet />
</main>
