<h3 class="text-center mb-4">Forgot Password?</h3>
<p class="text-center text-muted mb-4">Enter your email address and we'll send you a link to reset your password.</p>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
    <label for="email">Email address</label>
  </div>
  <div class="d-grid">
    <button type="submit" class="btn btn-success" [disabled]="forgotPasswordForm.invalid">Send Password Reset Link</button>
  </div>
</form>
<div class="text-center mt-4">
  <a routerLink="/auth/login">Back to Login</a>
</div>
